<div class="container">
  <div class="row space align-middle">
    <table class=" table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome da cidade</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td><a href="#">Detalhes</a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td><a href="#">Detalhes</a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td><a href="#">Detalhes</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>