<div class="container">
  <div class="row space align-middle">
    <table class=" table table-striped">
      <thead>
        <tr>
          <th scope="col">Id da cidade</th>
          <th scope="col">Nome da cidade</th>
          <th scope="col">Data da criação</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cidade of cidades">
          <td>{{cidade.id}}</td>
          <td>{{cidade.name}}</td>
          <td>{{cidade.creationDate | date:'dd/MM/yyyy hh:mm:ss' }}</td>
          <td> <button (click)="this.openModal(cidade.id)" class="btn btn-primary" type="button">Detalhes</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>